body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

main {
  width: 600px;
  margin: 0 auto 25px;
}

.gpts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gpt {
  flex: 1 1 290px; /* Flex grow, flex shrink, base width */
  flex-grow: 0;
  text-decoration: none;
  color: #444;
  transition: box-shadow 0.12s ease-in-out;
}

.gpt:hover {
  box-shadow: -1px 2px 15px #000;
  cursor: pointer;
}

.gpt img {
  width: 100%;
  height: auto;
}

.gpt p {
  padding: 0 10px;
}

@media screen and (max-width: 480px) {
  main {
    width: unset;
    margin: 0 25px 25px;
  }

  .gpt {
    flex-grow: 1;
  }
}
